@model IEnumerable<MVCViews.Models.GoodsInfoView>

@{
    ViewBag.Title = "Index";
}

<h2>二手交易中心</h2>

<p>
    <input type="button" value="进入我的主页" class="btn btn-success" onclick="Redirect('/Market/MyCenter')" />
</p>

@foreach (var item in Model)
{
<div class="div-inline">
    <div class="div-img"><img src="http://localhost:8090/ImageUrl/@item.PicUrl"/></div>
    <div>
        <span>@item.Name</span>
        <span>@item.Desp</span>
    </div>
    <div>￥ @item.Money</div>
    <div>
        <input type="button" value="详细" class="btn btn-success" onclick="Redirect('/Market/Details?id=@item.Id')" />
        <input type="button" value="我想要" class="btn btn-danger" onclick="Redirect('/Market/Buy?id=@item.Id')" />
    </div>
</div>
}


<style>
    .div-inline {
        width: 200px;
        height:300px;
        display:inline;
        float:left;
        margin-left:20px;
        margin-top:20px;
    }

    img {
        width:150px;
        height:200px;
    }
</style>

<script>
    function Redirect(url) {
        window.location.href = url;
    }
</script>